--- Arquivos de Configuração e Segredos ---
config.ini

--- Logs ---
log_rpa_cadastro.log
*.log

--- Arquivos Baixados pelo RPA ---
*.xlsx
*.csv
*.xls

--- Arquivos de Ambiente Python ---
venv/
.venv/
env/
/env

--- IGNORAR caches do Python ----
pycache/
*.pyc
*.pyo
*.pyd

--- Arquivos de IDE (PyCharm, VSCode, etc) ---
.vscode/
.idea/
*.iml